@media screen and (min-width: 768px) {
    .presentation {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 95%;
        height: auto;
        margin-bottom: 30px;
    }

    .image {
      display: flex;
      align-items: left;
      height: 100%;
    }

    .portrait {
        width: 220px;
        height: 220px;
        object-fit: cover;
        border-radius: 10px;
        margin: 30px;
        /*box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);*/
    }

    .text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      /*background-color: #F6F6F6;*/
      /*border-radius: 20px;*/
      /*box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);*/
    }

    .pres-text {
        font-family: Montserrat;
        font-size: 10pt;
        margin: 30px;
        width: 350px;
        height: auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    .presentation {
      background-color: white;
      border-radius: 20px 20px 20px 20px;
      width: 95%;
      height: auto;
      margin-bottom: 30px;
    }

    .portrait {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50px;
        margin: 20px;
    }
  }