@media screen and (min-width: 992px) {
    .presentation {
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 95%;
        height: auto;
        margin-bottom: 30px;
    }

    .portrait {
        width: 220px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        margin: 30px;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }

    .pres-text {
      font-family: Montserrat;
      font-size: 10pt;
      margin: 30px;
      padding: 30px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .presentation {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      height: auto;
      margin-bottom: 30px;
    }

    .portrait {
      width: 280px;
      height: 280px;
      object-fit: cover;
      border-radius: 10px;
      margin-top: 30px;
      box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }

    .pres-text {
      font-family: Montserrat;
      font-size: 10pt;
      margin: 30px;
      padding: 30px;
      height: auto;
      background-color: white;
      border-radius: 10px;
    }
  }