@media screen and (min-width: 992px) {
  .infos-bloc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%; 
  }

  .infos-titre {
      width: 80%;
      position: static;
      font-family: MontserratLight;
      color: white;
      font-size: 14pt;
  }

  .infos-text {
      width: 80%;
      position: relative;
      font-family: MontserratLight;
      font-size: 14pt;
      color: #8c52ff;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .infos-bloc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 85%; 
  }

  .infos-titre {
      width: 85%;
      position: static;
      font-family: MontserratLight;
      color: white;
      font-size: 14pt;
  }

  .infos-text {
      width: 85%;
      position: relative;
      font-family: MontserratLight;
      font-size: 14pt;
      color: #004aad;
  }
}

@media screen and (max-width: 767px) {

  .infos-bloc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 82%; 
  }

  .infos-titre {
      width: 85%;
      position: static;
      font-family: MontserratLight;
      color: white;
      font-size: 14pt;
  }

  .infos-text {
      width: 85%;
      position: relative;
      font-family: MontserratLight;
      font-size: 14pt;
      color: #004aad;
  }
}
/*@media screen and (min-width: 768px) {
    .skills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #F6F6F6;
        border-radius: 20px 20px 20px 20px;
        width: 95%;
        height: auto;
        margin-bottom: 30px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .skills {
      background-color: white;
      border-radius: 20px 20px 20px 20px;
      width: 95%;
      height: auto;
      margin-bottom: 30px;
    }
  }*/