.app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.titre-section {
    width: 95%;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    all: unset;
    color: #495f77;
    font-family: Argesta;
    font-size: 24pt;
    padding: 20px;
}