.app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.titre-section {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    all: unset;
    color: #8c52ff;
    font-family: Argesta;
    font-size: 24pt;
    font-weight: 500;
    padding: 20px;
}