.footer {
    background-color: #dd5555;
    margin: 0;
    text-align: center;
    padding: 50px;
}

.name {
    font-family: Montserrat;
    font-size: 12pt;
    color: white;
    text-align: center;
}